PROJECT_NAME="test-thirty-sixth"
PROJECT_SLUG=test-thirty-sixth
GITHUB_REPOSITORY=test-thirty-sixth
LINEAR_PROJECT_KEY=TEST_THIRTY_SIXTH
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
